nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/customer')
        | Khách hàng
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse

        ul.navbar-nav.ml-auto.dropdown-menu-lg-right
            li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | #{user.fullName}
                .dropdown-menu.dropdown-menu-lg-right.dropdown(aria-labelledby='navbarDropdown')
                    form.form-inline.my-2.my-lg-0#info(action="/customer/profile", method="get")
                        a.dropdown-item(href="javascript:$('#info').submit()") Chỉnh sửa mật khẩu
                    .dropdown-divider
                    form.form-inline.my-2.my-lg-0#logout(action="/customer/auth?_method=DELETE", method="post")
                        a.dropdown-item(href="javascript:$('#logout').submit()") Đăng xuất
