#kt_aside_menu.aside-menu.my-4(data-menu-vertical='1' data-menu-scroll='1' data-menu-dropdown-timeout='500')
    ul.menu-nav
        li.menu-item(aria-haspopup='true')
            a.menu-link(href='/manager')
                i.menu-icon.flaticon-home
                span.menu-text Dashboard
        li.menu-item(aria-haspopup='true')
            a.menu-link(href='/manager/interest')
                i.menu-icon.flaticon-pie-chart-1
                span.menu-text Quản lý lãi suất
        li.menu-item(aria-haspopup='true')
            a.menu-link(href='/manager/periods')
                i.menu-icon.flaticon2-calendar-4
                span.menu-text Quản lý kì hạn
        li.menu-item(aria-haspopup='true')
            a.menu-link(href='/manager/report')
                i.menu-icon.flaticon-notes
                span.menu-text Quản lý báo cáo