extends ../layout/main.pug

mixin list(stt, savingsBook)
    tr
        th(scope='row')= stt
        td
            a(href='/staff/accounts/' + savingsBook.customerId + '/detail/' + savingsBook.id)= savingsBook.id
        td= savingsBook.Customer.fullName



block navbar
    include ../layout/navbarStaff.pug
block content
    .row.mt-4
        .col-6
            a.btn.btn-danger(href='#', data-toggle='modal', data-target='#delete-user-modal', data-id= id) Duyệt hết tất cả tài khoản
        .col-12.mt-2
            table.table.table-bordered.text-center
                thead
                    tr
                        th(scope='col', width='2%') #
                        th(scope='col') Số tài khoản
                        th(scope='col') Tên khách hàng

                tbody
                    if listSavingsBooks
                        - var x = 1
                        each savingsBook in listSavingsBooks
                            +list(x++, savingsBook)


    #delete-user-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Duyệt hết tài khoản ?
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    | Bạn chắc chắn duyệt hết tài khoản chứ ?
                .modal-footer
                    button.btn.btn-danger#btn-delete-user(type='button') Đồng ý
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng

    //- Form delete user
    form(method="post", name="form-delete-user", style="display: none;")


    script.
        document.addEventListener('DOMContentLoaded', () => {
            const deleteForm = document.forms['form-delete-user'];
            let idUser = null;

            $('#delete-user-modal').on('show.bs.modal', (event) => {
                const button = $(event.relatedTarget);
                idUser = button.data('id');
            });

            document.getElementById('btn-delete-user').addEventListener('click', () => {
                deleteForm.action = '/staff/saving-account';
                deleteForm.submit();
            });

        });