extends ../layout/main.pug
block navbar
    include ../layout/navbarStaff.pug
block content
    .row
        .col-xl-12.col.md-12.col-12
            .card.mt-2
                .card-body
                    h3.card-title.text-center Chỉnh sửa thông tin khách hàng
                    .row
                        .col-12
                            .card
                                img(src = "/uploads/" + id + ".png")
                            form(action="/staff/users/" + id + "?_method=PUT", method="post", enctype="multipart/form-data")
                                .row.mt-2
                                    .form-group.col-lg-4.col-12
                                        label(for="fullName") Họ và tên
                                        input#fullName.form-control(type="text", name="fullName", value= fullName ? fullName : "")
                                    .form-group.col-lg-4.col-12
                                        label(for="identityNumber") Số chứng minh thư
                                        input#identityNumber.form-control(type="text", name="identityNumber", value= identityNumber ? identityNumber : "")
                                    .form-group.col-lg-4.col-12
                                        label(for="imageNumber") Ảnh chứng minh thư
                                        input#imageNumber.form-control(type="file", name="imageNumber", accept="image/png, image/gif, image/jpeg")
                                    .form-group.col-lg-4.col-12
                                        label(for="username") Tài khoản
                                        input#username.form-control(type="text", name="username", value= username ? username : "")
                                    .form-group.col-lg-4.col-12
                                        label(for="email") Email
                                        input#email.form-control(type="email", name="email", value= email ? email : "")
                                    .form-group.col-lg-4.col-12
                                        label(for="phone") Số điện thoại
                                        input#phone.form-control(type="text", name="phone", value= phone ? phone : "")
                                    .form-group.col-lg-4.col-12
                                        label(for="sex") Giới tính
                                        select.form-control#sex(name="sex")
                                            if sex == 0
                                                option(value="0", selected) Nam
                                                option(value="1") Nữ
                                            else
                                                option(value="0") Nam
                                                option(value="1", selected) Nữ
                                    .form-group.col-lg-4.col-12
                                        label(for="address") Địa chỉ
                                        input#address.form-control(type="text", name="address", value= address ? address : "")
                                    .form-group.col-lg-4.col-12
                                        label(for="birthday") Ngày sinh
                                        input#birthday.form-control(type="date", name="birthday", value= birthday ? birthday : "")

                                button.btn.btn-danger.float-right Cập nhập thông tin
                            a.btn.btn-warning(href='#', data-toggle='modal', data-target='#update-user-modal', data-id= id) Khôi phục mật khẩu

    #update-user-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Khôi phục mật khẩu ?
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    | Bạn chắc chắn khôi phục mật khẩu này chứ ?
                .modal-footer
                    button.btn.btn-danger#btn-submit(type='button') Đồng ý
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
    form(method="post", name="form-update-user", style="display: none;")
    script.
        document.addEventListener('DOMContentLoaded', () => {
            const deleteForm = document.forms['form-update-user'];
            let idUser = null;

            $('#update-user-modal').on('show.bs.modal', (event) => {
                const button = $(event.relatedTarget);
                idUser = button.data('id');
            });
            document.getElementById('btn-submit').addEventListener('click', () => {

                deleteForm.action = `/staff/users/${idUser}/password?_method=PUT`;
                deleteForm.submit();
            });

        });