extends ../layout/main.pug
block navbar
    include ../layout/navbarAdmin.pug
block content
    .row
        .col-xl-12.col.md-12.col-12
            .card.mt-5
                .card-body
                    h3.card-title.text-center Chi tiết nhân viên: #{staff.name}
                    .row
                        .col-12

                            form(action="/admin/personnel/" + staff.id + "?_method=PUT", method="post")
                                .row
                                    .form-group.col-lg-4.col-12
                                        label(for="name") Họ và tên
                                        input#name.form-control(type="text", name="name", value= staff.name)
                                    .form-group.col-lg-4.col-12
                                        label(for="username") Tài khoản
                                        input#username.form-control(type="text", name="username", value= staff.username, disabled)
                                    .form-group.col-lg-4.col-12
                                        label(for="email") Email
                                        input#email.form-control(type="text", name="email", value= staff.email)
                                    .form-group.col-lg-4.col-12
                                        label(for="phone") Số điện thoại
                                        input#phone.form-control(type="text", name="phone", value= staff.phone)
                                    .form-group.col-lg-4.col-12
                                        label(for="sex") Giới tính
                                        select.form-control#sex(name="sex")
                                            if staff.sex == 0
                                                option(value="0", selected) Nam
                                                option(value="1") Nữ
                                            else
                                                option(value="1", selected) Nữ
                                                option(value="0") Nam

                                    .form-group.col-lg-4.col-12
                                        label(for="address") Địa chỉ
                                        input#address.form-control(type="text", name="address", value= staff.address)
                                    .form-group.col-lg-4.col-12
                                        label(for="birthday") Ngày sinh
                                        input#birthday.form-control(type="date", name="birthday", value= staff.birthday)
                                    .form-group.col-lg-4.col-12
                                        label(for="officeId") Chức vụ
                                        select.form-control#officeId(name="officeId")
                                            each office in listOffices
                                                if office.id == staff.officeId
                                                    option(value= office.id, selected)= office.name
                                                else
                                                    option(value= office.id)= office.name
                                button.btn.btn-danger.float-right Cập nhập thông tin
                            a.btn.btn-warning(href='#', data-toggle='modal', data-target='#update-user-modal', data-id= staff.id) Khôi phục mật khẩu

    #update-user-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Khôi phục mật khẩu ?
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    | Bạn chắc chắn khôi phục mật khẩu chứ ?
                .modal-footer
                    button.btn.btn-danger#btn-submit(type='button') Đồng ý
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
    form(method="post", name="form-update-user", style="display: none;")
    script.
        document.addEventListener('DOMContentLoaded', () => {
            const deleteForm = document.forms['form-update-user'];
            let idUser = null;

            $('#update-user-modal').on('show.bs.modal', (event) => {
                const button = $(event.relatedTarget);
                idUser = button.data('id');
            });
            document.getElementById('btn-submit').addEventListener('click', () => {
                deleteForm.action = `/admin/personnel/${idUser}/password?_method=POST`;
                deleteForm.submit();
            });

        });