extends ../layout/main.pug
block navbar
    include ../layout/navbarAdmin.pug
block content
    .row
        .col-xl-3.col-md-6.col-12
            .card.mt-5
                .card-body.d-flex.flex-column.align-item-center
                    h3.card-title.text-center #{name}
                    a.btn.btn-primary(href='/admin/change-pass') Đổi mật khẩu
        .col-xl-9.col.md-6.col-12
            .card.mt-5
                .card-body
                    h3.card-title.text-center Danh sách chức năng
                    .row
                        .col-xl-6.col-12
                            .card.mt-4
                                .card-body.d-flex.flex-column
                                    h5.card-title.text-center Nhân viên
                                    p.card-text.text-center Hiện tại: #{countStaff} nhân viên
                                    a.btn.btn-danger(href="/admin/user") Quản lý nhân viên
                        .col-xl-6.col-12
                            .card.mt-4
                                .card-body.d-flex.flex-column
                                    h5.card-title.text-center Chức vụ
                                    p.card-text.text-center Hiện tại: #{countOffice}
                                    a.btn.btn-success(href="/admin/office") Quản lý chức vụ
