extends ../layout/main.pug

mixin list(stt, id, name, user, office)
    tr
        th(scope='row')= stt
        td
            a(href='/admin/personnel/' + id + '/edit')= name
        td= user
        td= office
        td
            a.btn.btn-primary.mr-2(href='/admin/personnel/' + id + '/edit')
                | Chỉnh sửa
            a.btn.btn-danger(href='#', data-toggle='modal', data-target='#delete-user-modal', data-id= id)
                | Xoá

block navbar
    include ../layout/navbarAdmin.pug
block content
    .row.mt-4
        .col-6
            a.btn.btn-warning(href='/admin/personnel/create') Thêm nhân viên mới
        .col-6
            form(action="/admin/personnel", method="get")
                .form-group
                    input#name.form-control(type="text", name="search", placeholder="Nhập tên cần tìm kiếm", value= search ? search : "")
        .col-12.mt-2
            table.table.table-bordered.text-center
                thead
                    tr
                        th(scope='col', width='2%') #
                        th(scope='col') Tên
                        th(scope='col') Username
                        th(scope='col') Chức vụ
                        th(scope='col', width='20%') Chức năng
                tbody
                    if listStaffs
                        - var x = 1
                        each staff in listStaffs
                            +list(x++, staff.id, staff.name, staff.username, staff.Office.name)



    //- Modal delete user
    #delete-user-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Xoá người dùng ?
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    | Bạn chắc chắn xoá người dùng này chứ ?
                .modal-footer
                    button.btn.btn-danger#btn-delete-user(type='button') Xoá bỏ
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng

    //- Form delete user
    form(method="post", name="form-delete-user", style="display: none;")


    script.
        document.addEventListener('DOMContentLoaded', () => {
            const deleteForm = document.forms['form-delete-user'];
            let idUser = null;

            $('#delete-user-modal').on('show.bs.modal', (event) => {
                const button = $(event.relatedTarget);
                idUser = button.data('id');
            });

            document.getElementById('btn-delete-user').addEventListener('click', () => {
                deleteForm.action = '/admin/personnel/' + idUser + '?_method=DELETE';
                deleteForm.submit();
            });

        });