extends ../layout/main.pug

mixin list(stt, interest)
    tr
        th(scope='row')= stt
        td= interest.name
        td #{interest.factor}% / năm
        td= interest.periodName
        td= interest.created


block navbar
    include ../layout/navbarManager.pug
block content
    .row.mt-4
        .col-10
            a.btn.btn-warning(href='#', data-toggle='modal', data-target='#add-periods-modal', data-id= id) Thêm lãi suất mới
        .col-2
            select.form-control#filter-period(name="filter-period")
                if type === 'all'
                    option(value="all") Tất cả
                    option(value="current") Hiện hành
                else
                    option(value="current") Hiện hành
                    option(value="all") Tất cả


        .col-12.mt-2
            table.table.table-bordered.text-center
                thead
                    tr
                        th(scope='col', width='2%') #
                        th(scope='col') Tên lãi suất
                        th(scope='col') Lãi suất
                        th(scope='col') Kì hạn
                        th(scope='col') Ngày hiệu lực
                tbody
                    if interests
                        - var x = 1
                        each interest in interests
                            +list(x++, interest)


    #add-periods-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                form(action="/manager/interest", method="post")
                    .modal-header
                        h5#exampleModalLabel.modal-title Thêm lãi suất mới
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        .form-group
                            label(for="name") Tên lãi suất
                            input#name.form-control(type="text", name="name", value= name ? name : "")
                        .form-group
                            label(for="factor") Lãi suất / năm
                            input#factor.form-control(type="text", name="factor", value= factor ? factor : "")
                        .form-group
                            label(for="periodId") Loại kì hạn
                            select.form-control#periodId(name="periodId")
                                if periods
                                    each period in periods
                                        option(value= period.id)= period.name
                    .modal-footer
                        button.btn.btn-danger#btn-add-periods(type='submit') Thêm
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
    form(method="get", name="form-filter-period", style="display: none;")
    script.
        const filterForm = document.forms['form-filter-period'];
        $('#filter-period').on('change', function() {
            const link = '/manager/interest?type=' + this.value;
            window.location.replace(link);


        });
