extends ../layout/main.pug

mixin list(stt, period)
    tr#table-primary
        th(scope='row')= stt
        td= period.name
        td= period.Interests.factor + " % / năm"

block navbar
    include ../layout/navbarCustomer.pug
block content
    .row
        .col-xl-12.col.md-12.col-12
            .card.mt-5
                .card-header.text-center Thông tin chung
                .card-body
                    .row.d-flex.justify-content-center
                        .col-xl-10.col-10.mt-4
                            .card
                                .card-body.d-flex.flex-row.justify-content-between.align-items-center
                                    h5 Số dư khả dụng
                                    h4.card-title.deposit #{balance}
                        .col-xl-10.col-10.mt-4
                            .card
                                .card-body.d-flex.flex-row.justify-content-between.align-items-center
                                    .d-flex.flex-column
                                        h5 Số tiền tiết kiệm
                                        p Bạn có #{total} tài khoản  tiết kiệm
                                    a.card-title.money.deposit(href="customer/history") #{amount}
            .card.mt-5
                .card-header.text-center Lãi suất mới nhất
                .card-body
                    table.table.table-bordered.text-center
                        thead
                            tr
                                th(scope='col', width='2%') #
                                th(scope='col') Kì hạn
                                th(scope='col') Lãi suất
                        tbody
                            if listPeriodsRender
                                - var x = 1
                                each period in listPeriodsRender
                                    +list(x++, period)