extends ../layout/main.pug
block content
    .row
        .col-12
            .card.mt-5
                .card-body
                    h3.card-title.text-center Đăng nhập vào hệ thống quản trị
                    .row
                        .col-12
                            form(action="/auth", method="post")
                                .form-group
                                        label(for="username") Tài khoản
                                        input#timeout.form-control(type="text", name="username", value= username ? username: "tuan")
                                .form-group
                                        label(for="password") Mật khẩu
                                        input#timeout.form-control(type="password", name="password", value= password ? password: "tuan")
                                button.btn.btn-primary.float-right Đăng nhập