extends ../layout/main.pug
block content
    .row
        .col-12
            .card.mt-5
                .card-body
                    h3.card-title.text-center Đăng nhập
                    .row
                        .col-12
                            if errors
                                each error in errors
                                    .alert.alert-danger= error
                            form(action="/auth/login", method="post")
                                .form-group
                                        label(for="username") Tài khoản
                                        input#timeout.form-control(type="text", name="username", value= username ? username: "tuan")
                                .form-group
                                        label(for="password") Mật khẩu
                                        input#timeout.form-control(type="password", name="password", value= password ? password: "tuan")
                                button.btn.btn-primary.float-right Đăng nhập